.admin-product-page {
    max-width: 900px;
    margin: 0 auto 50px auto;
}

.admin-product-list {
    border-radius: 5px;
    padding: 20px;
}

.admin-product-list h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

/* Reusable Buttons */
.btn-primary {
    padding: 10px 5px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    border: 2px solid #f68b1e; 
    background-color: transparent; 
    color: #f68b1e; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
}
.btn-primary:hover {
    background-color: #a25d19;
}

.btn-outline {
    background-color: transparent;
    color: #f68b1e;
    font-weight: bold;
    border: 2px solid #f68b1e;
    padding: 8px 12px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-outline:hover {
    background-color: #f68b1e;
    color: #fff;
}

.btn-delete {
    background-color: tomato;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-delete:hover {
    background-color: #d9534f;
}

/* Table Styling */
.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th,
.product-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.product-table td {
    color: #444;
}
