.sidebar {
    background-color: #c4803c;
    color: white;
    height: 100vh;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  .nav-item {
    color: white !important;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 16px;
    transition: background 0.3s ease;
  }
  
  .nav-item:hover {
    background-color: #f68b1e;
    color: #fff !important;
    cursor: pointer;
  }
  