.admin-material-page {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

.admin-material-list h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.add-btn {
    background-color: transparent;
    color: #f68b1e;
    font-size: 16px;
    border: 2px solid #f68b1e;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.add-btn:hover {
    background-color: #f68b1e;
    color: #fff;
}

.material-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.material-table th,
.material-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

.material-table th {
    background-color: #f4f4f4;
    color: #333;
}

.material-table tbody tr:nth-child(even) {
    background-color: #fafafa;
}

.outline-btn {
    padding: 6px 12px;
    border: 2px solid;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 8px;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
}

.edit-btn {
    border-color: #f68b1e;
    color: #f68b1e;
}
.edit-btn:hover {
    background-color: #f68b1e;
    color: #fff;
}

.delete-btn {
    border-color: tomato;
    color: tomato;
}
.delete-btn:hover {
    background-color: tomato;
    color: #fff;
}
