.product-grid {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    gap: 16px;
    padding: 0 20px;
    align-items: center;
}



.arrow-inline {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s;
    margin-top: 500px;
}

.arrow-icon {
    font-size: 28px;
    color: #f68b1e;
}

.arrow-inline:hover .arrow-icon {
    transform: scale(1.2);
}
