.product-detail {
    max-width: 500px; 
    width: 100%;
    margin: 0 auto;
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-detail img {
    width: 100%; 
    height: auto;
}

.product-detail h1{
    text-align: center;
}
.product-detail span{
    display: block;
    font-size: 20px;
    color: #f68b1e;
}
.product-detail button{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f68b1e;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.product-detail button:hover{
    background-color: #8b4c0d;
}

.stock-text {
    color: #d8000c;
    font-size: 14px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-controls button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.product-detail-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem; 
    padding: 2rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto; 
}

.product-reviews {
    max-width: 450px;
    min-height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    align-self: flex-start;
}


@media (min-width: 768px) {
    .product-detail-wrapper {
        flex-wrap: nowrap;
    }
}
